html { 
background: url(images/bg.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#offWhiteBg{
	width: 1000px;
	height:550px;
	background-color:rgba(0,0,0,0.9);
	    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#homeimg
{
	height: 290px;
	width: 222px;
	float: right;
}