body{ 
background: url(/images/bg.png) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

#offWhiteBg{
	width: 1000px;
	height:550px;
	background-color:rgba(0,0,0,0.9);
	    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

#homeimg
{
	height: 370px;
	width: 370px;
	float: right;
	margin-bottom: 40px;
}

#metitle
{
	margin-top: 30px;
	margin-left: 10px;
}

#aboutme
{
	margin-top: 30px;
	margin-left: 10px;
}

#highlight
{
	color: #428bca;
}

#homepagecontent
{
	background-color: #ffffff;
	opacity: 0.9;
	margin-left:auto;
	margin-right:auto;
	width: 100%;
	height: 100%;
	margin-top: 40px;
}